.create-routine-modal-button {
  position: absolute;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
  margin-left: 27em;
  left: 0;
  right: 0;
  max-width: 185px;
}

.create-routine-form-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  animation: animatetop 0.4s ease-in-out;
  width: 50rem;
  padding: 4rem 2rem;
  border-radius: .8rem;
  color: hsl(0, 1%, 27%);
  box-shadow: .4rem .4rem 2.4rem .2rem hsla(0, 0%, 75%, 0.3);
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 14%;
  background: linear-gradient(90deg, #e6e4e4fa, #edededfc, rgba(226, 226, 226, 1));
  flex-direction: column;
  gap: 20px;
}

.create-routine-form-container:target {
  display: flex;
}

.create-routine-form-input {
  margin-top: 2em;
  font-size: 1em;
  padding-left: 10px;
  height: 50px;
  width: 400px;
  border: 1px solid hsla(0, 0%, 0%, 0.4);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
}

.create-routine-form-button {
  padding: 1em 2em;
  background-color: #e0dcdc;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 1em;
  transition: all 1s ease;
  outline: none;
  width: 400px;
}

.create-routine-form-button:hover {
  background-color: #aaa9a9;
}

.create-routine-checkbox-label {
  margin: 1em 0;
  font-size: 1em;
  padding-left: 10px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
}

.closeModal {
  position: absolute;
  margin-left: 650px;
  margin-bottom: 300px;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 26px;
  font-weight: 700;
  border-radius: 50%;
  padding: 5px;
}

.closeModal:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  transform: scale(1.05);
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.ReactModal__Overlay {
  background: none;
}