.create-routine-modal-button {
  position: absolute;
  background-color: #355327;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
  z-index: 3;
  margin: 125px auto;
  left: 0;
  right: 0;
  max-width: 185px;
}

.ReactModal__Overlay {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; */
}

.ReactModal__Content {
  /* position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 20px;
  width: 500px;
  max-width: 100%; */
}


.create-routine-form-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.create-routine-form-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.create-routine-form-label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.create-routine-form-input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.create-routine-checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.create-routine-checkbox-label {
  font-size: 1.2rem;
  margin-left: 10px;
}

.create-routine-submit-button {
  background-color: #4caf50;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-routine-submit-button:hover {
  background-color: #3e8e41;
}
