.my-routine-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-routine-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
}

.my-routine-card {
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 20px;
  height: 250px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  overflow-y: inherit;
}

.my-routine-card h3 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-routine-card p {
  color: #888;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.my-routine-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
}

.my-routine-card {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  padding: 20px;
  height: 250px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  overflow-y: inherit;
}

.my-routine-card h3 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-routine-card p {
  color: #888;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}