
.create-routine-modal-button-activity {
  position: absolute;
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 20px;
  margin-top: -70px;
  margin-left: 39em;
  left: 0;
  right: 0;
  max-width: 185px;
}

.activityCard {
  background-image: url("./img/activities.png");
  width: 340px;
  height: 240px;
  background-repeat: no-repeat;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease;
}

.activityCard:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  transform: scale(1.05);
}

.actDescription {
  position: relative;
  margin-top: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #535353;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0.02em 0.15em #dddddd;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
}